# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
node_modules
build
migrations

/.vs
docs/update-translations.js
translate-*.*
/compiled-solcjs
/docs/.vs
/src/server/.vs
/src/server/bin
/src/server/obj
